@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15) !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-tip-container {
  margin-top: -1px;
}
